<h1 class="text-danger">Welcome in ITI<span [ngClass]="{'hide':age<=20}" >{{branch}}</span> </h1>

<!-- <input class="form-control" [value]="username" (keyup)="change(user.value)" #user>  -->
<!-- <input class="form-control" [value]="username" (keyup)="change($event)" >  -->
<input class="form-control" [(ngModel)]="username"> 
<p>{{username}}</p>
<hr>
<img src="{{img}}" alt="">
<input type="number" class="form-control" [(ngModel)]="age"> 
<p [ngClass]="{'red':age<20,'gray':age>60}">i'm {{age}} years old</p>
<select [ngClass]="{'hide':age<=20}" class="form-control" [(ngModel)]="branch">
    <option>Aswan</option>
    <option>Cairo</option>
    <option>Alex</option>
    <option>Assuit</option>
    <option>Qena</option>
</select>

<img [src]="currentAd.img">



<!-- <button class="btn btn-info" (click)="change()">change to hebe</button> -->