<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vendor','todo']" >todo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/demo">Demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/vendor/students">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/products">products</a>
          </li>
          <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link" routerLink="/user/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
            <!-- {{authServ.loggedSubject|async}} -->
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <button type="button" class="btn btn-primary position-relative">
          Inbox
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{cart.length}}
            <span class="visually-hidden">Cart</span>
          </span>
        </button>
      </div>
    </div>
  </nav>