<div class="container row"> 
    <div class="card col-4" *ngFor="let item of list">
        <img [src]="item.imgURL" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.price}} $</p>
          <!-- <a routerLink="/products/{{item.id}}" class="btn btn-primary">see details</a> -->
          <a [routerLink]="['/products/',item.id]" class="btn btn-primary">see details</a>
        </div>
      </div>
</div>
