<input [(ngModel)]="text" (keyup.enter)="check()">
<table>
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>age</th>
        <th>Level</th>
    </thead>
    <tbody>
        <tr *ngFor="let std of List;let i =index" >
            <td>{{i}}</td>
            <td>{{std.name}}</td>
            <td>{{std.age}}</td>
            <td>
                <ng-container [ngSwitch]="std.level">

                    <span *ngSwitchCase="1">One</span>
                    <span *ngSwitchCase="2">Two</span>
                    <span *ngSwitchCase="3">Three</span>
                    <span *ngSwitchCase="4">Four</span>
                    <span *ngSwitchDefault>not selected</span>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>
